<!DOCTYPE html>
<html>
  <head>
    <title>Favorites</title>
  </head>

  <body>
    <h2>Add a new favorite here</h2>
    <form action="/favorites" method="post">
      <label for="favorite">Add New Favorite Thing</label>
      <input type="text" name="favorite" id="favorite"/>


      <button type="submit">Add</button>
    </form>
  </body>
</html>
